
*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: arial,helvetica,sans-serif; */
  
}


body {
  margin: 0;
  font-family:arial,helvetica,sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


